* { margin: 0; padding: 0; font-size: inherit;}
body {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    color: #a0a0a0; 
    font-size: 12px;
    background: #010101 url('images/background.jpg');
}


#wrap {
    width: 810px;
    margin: 0 auto;
}

#wrap #header {
    width: 810px;
    margin-top: 50px;
    background: url('images/split.png') no-repeat 0% 100%;
    padding-bottom: 10px;
}

#header #logo {
    font-size: 3em;
    float: left;
    width: 250px;
}

#logo .alternate {
    color: #c4e100;
}

#header #head {
    width: 600px;
}

#head #tagline {
    text-transform: uppercase;
}

#head #title {
    color: #c4e100;
    font-size: 1.7em;
    text-transform: uppercase;
}

#wrap #body {
    width: 810px;
    margin-top: 5px;
    padding-bottom: 10px;
    background: url('images/split.png') no-repeat 0% 100%;
}

#body #nav {
    width: 200px;
    padding-left: 20px;
    vertical-align: top;
    float: left;
    height: 100%;
}

#nav li {
    font-size: 1.2em;
    text-transform: uppercase;
    list-style: none;
}

#nav li a {
    text-decoration: none;
    color: #a0a0a0;
}

#nav li a:hover {
    color: #fff;
}

#body #content {
    width: 810px;
    vertical-align: top;
    padding-left: 220px;
}
