.ddn {
	background-image: url('images/001_53.png');
	background-position: right center;
	background-repeat: no-repeat;
    border-top: #ddd 1px solid;
    border-left: #ddd 1px solid;
    border-bottom: #aaa 2px solid;
    border-right: #aaa 2px solid;
	height: 13px;
	padding: 2px;
	padding-right: 12px; /* This is the width of the selector dropdown image */
	color: #777;
    cursor: default;
}
.ddn-container {
    border: solid 1px #ddd;
    border-top: none; 
    position: absolute; 
    background-color: #fff;
     /* This is the width of the selector dropdown image in the ddn class */
}
.ddn-item {
    margin: 2px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
    cursor: default;
}
.ddn-item-hover {
    background-color: #ddf;
    color: #000;
}
