* { margin: 0; padding: 0; }
body {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    color: #444; 
    font-size: 12px;
    background: #333333 url('images/background.png') no-repeat 50% 0%;
}

#wrap {
    width: 920px;
    margin: 0 auto;
    background: url('images/bottom.png') no-repeat 50% 100%;
    min-height: 200px;
    padding-bottom: 50px;
}

#wrap #header {
    width: 920px;
    height: 150px;
    margin-top: 20px;
    /*background: url('images/split.png') no-repeat 0% 100%;*/
}

#header #logo {
    color: #aaa;
    font-size: 36px;

    width: 250px;
    height: 125px;
    padding-left: 10px;
    margin-bottom: 0px;
}

#logo .alternate1 {
    margin-bottom: 0px;
}

#logo .alternate2 {
    font-size: 0.8em;
    color: #ffffff;
    margin-bottom: 0px;
}

#logo #tagline {
    font-size: 11px;
    margin-top: -10px;
    text-transform: uppercase;
}

#header #head {
    width: 480px;
    height: 40px;
    padding-top: 85px;
    font-weight: bold;
    text-align: left;
    float: right;
}

#head #title {
    color: #eee;
    font-size: 1.7em;
    text-transform: uppercase;
}

#header #breadcrumbs {
    padding-left: 30px;
}

#wrap #body {
    width: 920px;
    padding-bottom: 10px;
    background: url('images/bodyback.png') repeat-y;
    padding: 0px 20px 0px 20px;
    min-height: 300px;
    margin: 0px;
}

#body #nav {
    width: 200px;
    padding: 0px;
    height: 100%;
    float: right;
}

#nav ul {
    width: 180px;
}
#nav li {
    width: 180px;
    height: 50px;
    font-size: 1em;
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
    color: #222;
}

#nav li.menu1 {
    background: url('images/1.png') no-repeat 0% 0%;
}

#nav li.menu2 {
    background: url('images/2.png') no-repeat 0% 0%;
}

#nav li.menu3 {
    background: url('images/3.png') no-repeat 0% 0%;
}
#nav li.menu4 {
    background: url('images/4.png') no-repeat 0% 0%;
}
#nav li.menu5 {
    background: url('images/5.png') no-repeat 0% 0%;
}
#nav li a {
    font-size: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

#nav li a:hover {
    color: #fff;
}

#body #content {
    width: 720px;
    vertical-align: top;
    padding-left: 0px;
}

#body #maincontent {
    width: 720px;
}

#maincontent .rightTop {
    background: url('images/right-top.png') no-repeat 0% 0%;
    float: right;
    width: 250px;
    margin-bottom: 10px;
    padding-top: 5px;
    margin-left: 10px;
}
.rightTop .right {
    background: url('images/right.png') repeat-y;
}
.right .rightBottom {
    width: 250px;
    background: url('images/right-bottom.png') no-repeat 0% 100%;
    padding: 5px;

}

.rightBottom h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.rightBottom p {
    margin-right: 10px;
}

#maincontent .post {
    padding-bottom: 10px;
    font-size: 14px;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}